<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yly.uts.dao.UtsTagDao">

	<resultMap id="UtsTag" type="com.yly.uts.core.model.UtsTag" >
		<result column="F_Id" property="id" />
		<result column="block_data" property="blockData" />
		<result column="block_data_json" property="blockDataJson" />
	</resultMap>

	<select id="selectAll" resultMap="UtsTag">
		SELECT f_id, block_data_json, block_data FROM hpd_calculation_process_tmp
	</select>

	<select id="selectBlockDataJson" resultMap="UtsTag">
		SELECT f_id, block_data_json FROM hpd_calculation_process_tmp
	</select>

	<select id="selectBlockData" resultMap="UtsTag">
		SELECT f_id, block_data FROM hpd_calculation_process_tmp
	</select>

	<update id="updateById">
		update hpd_calculation_process_tmp set block_data = #{blockData} where F_Id = #{id}
	</update>

	<update id="updateBlockDataJsonById">
		update hpd_calculation_process_tmp set block_data_json = #{blockDataJson} where F_Id = #{id}
	</update>

</mapper>