<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yly.uts.dao.UtsUserTagDao">

	<resultMap id="UtsUserTag" type="com.yly.uts.core.model.UtsUserTag" >
		<result column="user_id" property="userId" />
		<result column="tag_id" property="tagId" />
	</resultMap>

	<!-- 批量添加，有冲突则跳过 -->
	<insert id="batchSave" parameterType="java.util.List">
		insert IGNORE into uts_user_tag (
			user_id,
			tag_id
		) values
		<foreach collection="list" item="model" index="index" separator=",">
			(#{model.userId}, #{model.tagId})
		</foreach>
	</insert>

	<delete id="batchDelete" parameterType="java.util.List">
		DELETE
		FROM uts_user_tag
		WHERE
		<foreach collection="list" item="model" index="index" separator="or">
			user_id = #{model.userId} and tag_id = #{model.tagId}
		</foreach>
	</delete>

</mapper>