<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yly.uts.dao.UtsUserDao">

	<resultMap id="UtsUser" type="com.yly.uts.core.model.UtsUser" >
		<result column="id" property="id" />
		<result column="user_name" property="userName" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.user_name
	</sql>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="UtsUser">
		select DISTINCT * from (
			select
				u.*,
				t.tag_name,
				(
					select GROUP_CONCAT(DISTINCT tt.tag_name ORDER BY tt.tag_name ASC SEPARATOR ',')
					from uts_tag tt left join uts_user_tag utt on tt.id = utt.tag_id
					where utt.user_id = u.id
				) tag_names
			from uts_tag t left join uts_user_tag ut on t.id = ut.tag_id left join uts_user u on u.id = ut.user_id
			where u.id is not null
		) temp
		<where>
			<if test="allMatch != null and allMatch.size() > 0">
				<foreach collection="allMatch" item="tagName" index="index" separator="and">
					FIND_IN_SET(#{tagName}, temp.tag_names)
				</foreach>
				and
			</if>
			<if test="anyMatch != null and anyMatch.size() > 0">
				temp.tag_name in
				<foreach collection="anyMatch" item="tagName" index="index" open="(" separator="," close=")">
					#{tagName}
				</foreach>
				and
			</if>
			<if test="notMatch != null and notMatch.size() > 0">
				<foreach collection="notMatch" item="tagName" index="index" separator="and">
					!FIND_IN_SET(#{tagName}, temp.tag_names)
				</foreach>
			</if>
		</where>
		order by temp.id ASC
		limit #{offset}, #{pageSize}
	</select>

</mapper>